p { /*Make sure p tags dont interfere with layout*/ /*home page*/
  margin: 0;
  padding: 0;
}
hr {
  margin-top:10px;
  padding:0;
}
body {
  padding-top: 179px;
  background-color: #F6F6F4; /*#D4E8C1*/
  font-family: 'Roboto Condensed', sans-serif;
}
.bannerSmall { /*small banner above big main banner*/
  background-color: #474A4F;
  height: 25px;
}

.bannerBig { /*Control second banner height*/
  height: 100px;
  background-color: #272727;
  color:white;
}
#bigHeader { /*big header*/
  margin-top: 15px; /*from very top of web page*/
  margin-bottom: 5px;
  text-align: center;
  font-size: 380%;
  font-weight: bold;
}

#tagLine { /*tagline under big header*/
  margin-top: -16px;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  opacity: 0.5;
}

.nav-link { /*Menu buttons*/
  height: 38px;
  margin: 5px 2px -8px 1px; /*positioning of buttons inside nav bar.*/
  border-width: 0px; /*initial border width for animation of menu items*/
  border-top-style: solid;
  padding: 7px 18px 7px 18px !important; /*make buttons bigger, need to override bootstrap*/
  border-radius: 5px;
}
@media (max-width: 768px) {

  .nav-link {
    height: 50px;
    padding: 13px 18px 7px 18px !important;
  }
}
nav .navbar-nav li a {
  color: white !important;
}
#menuSectionColor1 {
  background-color: #F79E02;

}
#menuSectionColor2 {
  background-color: #F79E02; /*#f9c236 #f79d3d #ff5656 #c444c0 #81ce16 #38bff4 */
}

#menuSectionColor3 {
  background-color: #F79E02;

}

#menuSectionColor4 {
  background-color: #F79E02;
}

#menuSectionColor5 {
  background-color: #F1433F;
}

.collapseBanner {  /*banner that shoes when scrolling*/
  background-color: #272727;
  height: 32px;
  text-align:center;
  font-size: 150%;
  font-weight: bold;
  color:white;

}
.collapseHeader { /*this is the collapse banner text at small widths*/
  margin: 0 auto;
  font-weight: bold;
  font-size: 140%;
  font-family: 'Roboto Condensed', sans-serif;
  color:white;
}

@media (max-width: 768px){ /*for drop down menu bottons*/

  .nav-link {
    margin-top: 15px;

  }
  .menuSectionColor7 {
    background-color: black;
    margin-bottom: 10px;
  }

}

#bodyHeader {

  margin-top: 40px;
  font-weight:600;
}

.bodyText {
  margin-top: 15px;

}

.container-fluid {

  margin:0;
  padding:0;

}

.row {
  margin-top: 40px;

}

.roboFont {
  font-family: 'Roboto', sans-serif;
}
.bottomBanner{
  margin-top:200px;
  background: black;
  height: 100px;
}
.bottomBannerTxt{
  margin-top: 40px;
  color: white;
}
.alphaBtnMargin{
  margin-top:2px;
  width: 40px;
  border: none;
  color:white;
}
#textarea1{
  margin-top: -5px;
  height: 20px;
  margin-left: 20%;
}
#textarea2{
  height: 20px;
  margin-left: 20%;
  margin-bottom: 5px;
}
.btn:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#hangImages{
  margin-left: 20%;
}
#playerHint{
  margin-left: 20%;
  height:20px;
}